@lost flexbox flex

.list
  lost-center: 100%
  & > div
    lost-column: 1/3
  & > div:not(:hover)
    opacity: .9
    transition: opacity .3s
  & > div:hover
    opacity: 1
    transition: opacity .3s
