.footer
  height: 100px
  width: 100%
  background: #FBF9FF
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: 'PT Sans'
  font-size: .9rem
  color: #DADDD8
  & a
    color: #DADDD8
