.button
  border: none
  font-size: 1.2rem
  font-family: 'PT Sans'
  padding: 10px
  color: #fff
  cursor: pointer
  transition: background .3s

.stop
  composes: button
  background: rgb(143, 24, 24)
  &:hover
    background: rgb(143, 24, 24)

.start
  composes: button
  background: rgb(22, 121, 47)
  &:hover
    background: rgb(22, 121, 47)
